.advantages {
  position: relative;
  padding-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    width: 100px;
    height: 131px;
    background-image: url("../img/bg-paw-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 30px;
  font-family: $font-rubik-bold;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.advantages__card {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .advantages {
    padding-top: 110px;

    &::before {
      width: 240px;
      height: 257px;
    }
  }

  .advantages__title {
    font-size: 36px;
    line-height: 43px;
  }

  .advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $white;
  }

  .advantages__card {
    margin: 0;
    width: 45%;
  }
}

@media (min-width: $desktop) {
  .advantages__card {
    width: 30%;
  }
}
