.button {
  @include button-reset;

  position: relative;
  display: block;
  padding-left: 30px;
  width: 206px;
  min-height: 50px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  background-color: $white;
  cursor: pointer;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../img/icon-button-paw.svg");
  }

  &--orange {
    font-weight: 400;
    color: $white;
    background-color: $orange;

    &::after {
      background-image: url("../img/icon-button-orange-paw.svg");
    }
  }

  &:focus {
    box-shadow: 0 0 3px 2px rgb(98, 190, 221);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
