.card {
  position: relative;
  padding: 110px 25px 25px;
  border-radius: 15px;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $yellow;
    background-image: url("../img/icon-temp.png");
    background-size: contain;

    @media (min-resolution: $retina) {
      background-image: url("../img/icon-temp-2x.png");
    }
  }

  &--camera::before {
    background-image: url("../img/icon-camera.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/icon-camera-2x.png");
    }
  }

  &--taxi::before {
    background-image: url("../img/icon-taxi.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/icon-taxi-2x.png");
    }
  }

  &--food::before {
    background-image: url("../img/icon-food.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/icon-food-2x.png");
    }
  }

  &--walk::before {
    background-image: url("../img/icon-walk.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/icon-walk-2x.png");
    }
  }

  &--vet::before {
    background-image: url("../img/icon-vet.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/icon-vet-2x.png");
    }
  }
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-rubik;
  font-size: 18px;
  line-height: 140%;
}

.card__text {
  margin: 0;
  font-size: 15px;
  line-height: 140%;
}

@media (min-width: $tablet) {
  .card {
    padding: 110px 20px 25px;
  }
}
