.catalog {
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__image-wrapper {
  min-height: 185px;
  text-align: center;
}

.catalog__photo {
  display: block;
  width: 100%;
}

.catalog__description {
  padding: 19px;
  border: 1px solid $grey;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.catalog__title {
  font-family: $font-rubik-bold;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $text-black;
  text-decoration: none;

  h3 {
    margin: 0;
    margin-bottom: 15px;
  }
}

.catalog__properties {
  @include list-reset;

  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
}

.catalog__property {
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

}

.catalog__button {
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .catalog {
    display: flex;
    justify-content: center;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 678px;
  }
}

@media (min-width: $desktop) {
  .catalog {
    padding-top: 0;
    flex-grow: 1;
  }

  .catalog__list {
    width: 930px;
  }

  .catalog__item {
    margin-right: 30px;
    width: 290px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
