.catalog {
  margin-bottom: 40px;
  padding: 25px 0;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  > a {
    min-height: 185px;
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
  }
}

.catalog__description {
  padding: 19px;
  border: 1px solid $grey;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-family: $font-rubik-bold;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $text-black;
    text-decoration: none;
  }

  button {
    margin: 0 auto;
  }
}

.catalog__properties {
  @include list-reset;

  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;

  > li {
    position: relative;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablet) {
  .catalog {
    display: flex;
    justify-content: center;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 678px;
  }
}

@media (min-width: $desktop) {
  .catalog {
    padding-top: 0;
    flex-grow: 1;
  }

  .catalog__list {
    width: 930px;
  }

  .catalog__item {
    margin-right: 30px;
    width: 290px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
