.contacts {
  padding: 40px 0;
  background-color: $yellow;
}

.contacts__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: $font-rubik-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.contacts__list {
  @include list-reset;
}

.contacts__item {
  margin-bottom: 20px;
  padding-right: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__contact {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.contacts__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.contacts__phone,
.contacts__email {
  color: $text-black;
  text-decoration: none;
}

@media (min-width: $desktop) {
  .contacts {
    padding: 60px 0;
    max-width: 568px;
  }

  .contacts__wrapper {
    width: 270px;
  }
}
