.feedback {
  position: relative;
  padding-bottom: 70px;

  &::before {
    content: "";
    position: absolute;
    top: -45px;
    right: 0;
    display: block;
    width: 100px;
    height: 131px;
    background-image: url("../img/bg-paw-adv-mobile.svg");
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-rubik-bold;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.feedback__container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.feedback__list {
  @include list-reset;

  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.5s ease-in;
}

.feedback__item {
  position: relative;
  flex-shrink: 0;
  width: 320px;
  padding: 25px;
  padding-left: 56px;
  border-radius: 15px;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    width: 21px;
    height: 21px;
    background-image: url("../img/quote-left.png");
    background-position: center;
    background-size: contain;

    @media (min-resolution: $retina) {
      background-image: url("../img/quote-left-2x.png");
    }
  }
}

.feedback__text {
  margin: 0;
  font-size: 15px;
  line-height: 140%;
}

.feedback__inner {
  display: none;
}
