.feedback {
  position: relative;
  padding-bottom: 70px;

  &::before {
    content: "";
    position: absolute;
    top: -45px;
    right: 0;
    display: block;
    width: 100px;
    height: 131px;
    background-image: url("../img/bg-paw-adv-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 30px;
  font-family: $font-rubik-bold;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.feedback__container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.feedback__list {
  @include list-reset;

  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.5s ease-in;
}

.feedback__item {
  position: relative;
  flex-shrink: 0;
  width: 320px;
  padding: 25px;
  padding-left: 56px;
  border-radius: 15px;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    width: 21px;
    height: 21px;
    background-image: url("../img/quote-left.svg");
    background-position: center;
    background-size: contain;
  }
}

.feedback__text {
  margin: 0;
  font-size: 15px;
  line-height: 140%;
}

.feedback__inner {
  display: none;
}

@media (min-width: $tablet) {
  .feedback {
    &::before {
      top: -100px;
      width: 240px;
      height: 257px;
    }
  }

  .feedback__title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 43px;
  }

  .feedback__container {
    width: 768px;
    padding-left: 45px;
  }

  .feedback__item {
    margin-right: 30px;
    width: 442px;
  }

  .feedback__text {
    margin-bottom: 15px;
  }

  .feedback__inner {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    color: $feedback-grey;
  }

  .feedback__author {
    margin-right: 20px;
  }
}

@media (min-width: $desktop) {
  .feedback__container {
    width: 100%;
    padding-left: 90px;
  }

  .feedback__item {
    width: 470px;
  }
}
