.filter__toggler {
  position: relative;
  padding-left: 35px;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    left: 12px;
    width: 12px;
    height: 15px;
    background-image: url("../img/filter-icon.svg");
  }
}
