.main-nav {
  position: relative;
}

.main-nav__menu {
  display: none;

  &--active {
    display: block;
    padding-top: 30px;
  }

  > a {
    display: block;
    margin-bottom: 20px;
    font-family: $font-rubik;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $text-black;
    text-decoration: none;
  }
}

.main-nav__list {
  @include list-reset;

  margin-bottom: 25px;
  font-family: $font-rubik;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.main-nav__item {
  position: relative;
  padding: 5px 0;

  a {
    color: $text-black;
    text-decoration: none;
  }
}

@media (min-width: $tablet) {
  .main-nav {
    display: flex;
    margin-left: auto;
  }

  .main-nav__menu {
    display: flex;
    align-items: center;

    > a {
      display: none;
    }
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 500px;
    font-family: $font-lato;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  .main-nav__item {
    margin-right: 30px;
    padding: 5px 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $text-black;
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .main-nav__socials {
    display: none;
  }

  .main-nav__toggler {
    display: none;
  }
}

@media (min-width: $desktop) {
  .main-nav__list {
    max-width: 800px;
  }
}
