.main-nav {
  position: relative;
}

.main-nav__menu {
  display: none;

  &--active {
    display: block;
    padding-top: 30px;
  }
}

.main-nav__list {
  @include list-reset;

  margin-bottom: 25px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.main-nav__item {
  padding: 5px 0;
}

.main-nav__link {
  color: $text-black;
  text-decoration: none;
}

.main-nav__phone {
  display: block;
  margin-bottom: 20px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $text-black;
  text-decoration: none;
}

@media (min-width: $tablet) {
  .main-nav {
    display: flex;
    margin-left: auto;
  }

  .main-nav__menu {
    display: flex;
    align-items: center;
  }

  .main-nav__list {
    display: flex;
    margin: 0;
    font-family: $font-lato;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  .main-nav__item {
    padding: 5px 10px;
  }

  .main-nav__phone {
    display: none;
  }

  .main-nav__socials {
    display: none;
  }

  .main-nav__toggler {
    display: none;
  }
}
