.page-footer__bottom {
  padding-top: 30px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.page-footer__menu {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-light-grey;
}

.page-footer__item {
  position: relative;
  margin-bottom: 15px;
  width: 50%;

  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $text-black;
    text-decoration: none;
  }
}

.page-footer__copyrights {
  padding: 20px 0;
  color: $text-grey;

  p {
    margin: 0;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablet) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__logo {
    margin-bottom: 0;

    img {
      display: block;
      width: 63px;
      height: 52px;
    }
  }

  .page-footer__contacts {
    flex-grow: 1;
  }

  .page-footer__map {
    display: flex;
    flex-grow: 1;

    iframe {
      height: 100%;
    }
  }

  .page-footer__bottom {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 85%;
  }

  .page-footer__menu {
    margin-left: auto;
    padding: 0;
    max-width: 500px;
  }

  .page-footer__item {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 15px;
    padding: 0 10px;
    width: auto;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $text-black;
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      width: 100%;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .page-footer__copyrights {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .page-footer__menu {
    max-width: 800px;
  }
}
