.page-article {
  position: relative;
  padding: 50px 20px 0;
  padding-top: 50px;
  min-height: 493px;
  border-radius: 15px;
  background-color: $yellow;
  background-image: url("../img/article-img-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina) {
    background-image: url("../img/article-img-mobile-2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 86px;
    height: 73px;
    background-image: url("../img/bg-paw-article-mobile.svg");
    background-repeat: no-repeat;
  }
}

.page-article__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-article__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-rubik-bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  span {
    font-size: 37px;
    line-height: 44px;
  }
}

.page-article__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
}

@media (min-width: $tablet) {
  .page-article {
    padding: 50px;
    width: 100%;
    min-height: auto;
    height: 359px;
    background-image: url("../img/article-img-tablet.jpg");
    background-position: bottom right;

    @media (min-resolution: $retina) {
      background-image: url("../img/article-img-tablet-2x.jpg");
    }
  }

  .page-article__inner {
    align-items: flex-start;
    padding-right: 40%;
  }

  .page-article__title {
    font-size: 36px;
    line-height: 43px;
    text-align: left;

    span {
      font-size: 56px;
      line-height: 66px;
    }
  }

  .page-article__text {
    width: 240px;
    font-size: 15px;
    line-height: 140%;
  }
}

@media (min-width: $desktop) {
  .page-article {
    padding-top: 70px;
    padding-left: 270px;
    width: 100%;
    min-height: auto;
    height: 359px;
    background-image: url("../img/article-img-desktop.jpg");
    background-position: center right;

    @media (min-resolution: $retina) {
      background-image: url("../img/article-img-desktop-2x.jpg");
    }
  }

  .page-article__inner {
    padding-right: 50%;
  }

  .page-article__title {
    width: 400px;
  }

}
