.page-header {
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  min-height: 62px;

  &--expanded {
    height: 100vh;
    background-color: $yellow;
  }
}

@media (min-width: $tablet) {
  .page-header {
    min-height: 76px;
  }

  .page-header__wrapper {
    display: flex;
  }

  .page-header__img {
    width: 63px;
    height: 52px;
  }
}
