.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: $white, $alpha: 0.8);
  z-index: 100;
  overflow: scroll;
  backdrop-filter: blur(3px);

  &--show {
    display: block;
  }
}

.popup__close {
  @include button-reset;

  position: absolute;
  top: 20px;
  right: 25px;
  display: block;
  width: 14px;
  height: 14px;
  font-size: 0;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $desktop) {
  .popup {
    overflow: auto;

    &--filter {
      position: static;
      display: block;
      width: auto;
      height: auto;
      backdrop-filter: none;
    }
  }
}
