.promo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-height: 457px;
  background-color: $yellow;
  background-image: url("../img/promo-mask-mobile.png"), url("../img/promo-cat-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina) {
    background-image: url("../img/promo-mask-mobile.png"), url("../img/promo-cat-mobile-2x.jpg");
  }
}

.promo__inner {
  text-align: center;
}

.promo__city {
  font-size: 12px;
  line-height: 14px;
}

.promo__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-rubik-bold;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
}

.promo__text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.promo__button {
  margin: 0 auto;
}
