.slide-controls {
  padding-top: 30px;
}

.slide-controls__indicators {
  display: flex;
  margin: 0 auto;
  width: 60px;
}

.slide-controls__dot {
  display: block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $grey;
  cursor: pointer;

  &--active {
    background-color: $yellow;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover:not(.slide-controls__dot--active) {
    background-color: rgba($color: $text-grey, $alpha: 0.4);
  }
}

.slide-controls__arrows {
  display: none;
}

@media (min-width: $desktop) {
  .slide-controls {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 45px;
    width: 960px;
  }

  .slide-controls__indicators {
    margin: 0;
    margin-left: 270px;
  }

  .slide-controls__arrows {
    display: flex;
    margin-left: auto;
  }

  .slide-controls__arrow {
    @include button-reset;

    position: relative;
    display: block;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 2px 12px rgba($color: $slider-arrow-shadow, $alpha: 0.25);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 14px;
      display: block;
      width: 8px;
      height: 8px;
      background-image: url("../img/slider-arrow-left.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--right {
      &::before {
        transform: rotate(180deg);
      }
    }

    &:hover {
      box-shadow: 0 2px 12px rgba($color: $slider-arrow-shadow, $alpha: 0.7);
    }

    &:active {
      opacity: 0.5;
    }
  }
}
