.slide-controls {
  padding-top: 30px;
}

.slide-controls__indicators {
  display: flex;
  margin: 0 auto;
  width: 60px;
}

.slide-controls__dot {
  display: block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $grey;

  &--active {
    background-color: $yellow;
  }

  &:last-child {
    margin-right: 0;
  }
}

.slide-controls__arrows {
  display: none;
}
