.socials {
  display: flex;

  a {
    display: block;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
