.sorting {
  position: relative;
}

.sorting__list {
  @include list-reset;

  position: absolute;
  display: none;
  top: -35px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;

  &--show {
    display: block;
  }
}

.sorting__item {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 35px;
  background-color: $white;
  cursor: pointer;

  &:hover {
    outline: 2px solid $yellow;
  }
}

.sorting__toggler {
  position: relative;
  padding-right: 35px;

  &::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 12px;
    width: 15px;
    height: 12px;
    background-image: url("../img/sorting-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
