.suits {
  position: relative;
  padding: 100px 0 70px 0;

  &::before {
    content: "";
    position: absolute;
    top: 70px;
    display: block;
    width: 150px;
    height: 46px;
    background-image: url("../img/fish.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.suits__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 120px;
  font-family: $font-rubik-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.suits__wrapper {
  position: relative;
}

@media (min-width: $tablet) {
  .suits {
    padding-top: 60px;

    &::before {
      top: 100px;
      width: 425px;
      height: 130px;
    }
  }

  .suits__title {
    margin-bottom: 60px;
    width: 300px;
    font-size: 36px;
    line-height: 43px;
  }
}
