// fonts
$font-lato: "Lato", "Verdana", sans-serif;
$font-rubik: "Rubick", "Arial", sans-serif;
$font-rubik-bold: "Rubik Bold", "Arial", sans-serif;
// colors
$black: #000000;
$text-black: #1a212f;
$orange: #ff7236;
$yellow: #fac663;
$white: #fffefd;
//widths
$mobile: 320px;
$tablet: 768px;
$desktop: 1366px;
//resolution
$retina: 1.5dppx;
